@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav-logo {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
}
.toggle-btn {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation-name: bounce;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.links *:hover {
  padding-left: 1.5rem;
}
.danger {
  background-color: #e74c3c;
}
.underline {
  height: 0.3rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* transform: translateX(-25%); */
  /* animation: slide 3s linear 0s 1 normal normal; */
  animation-name: slide;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: unset;
  animation-direction: normal;
  /* transition: all 0.3s linear; */
}
@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 420px) {
  .name {
    font-size: 1rem;
    width: 80%;
  }
  .username {
    font-size: 1rem;
    width: 80%;
  }
  .email {
    font-size: 1rem;
    width: 80%;
  }
  .password {
    font-size: 1rem;
  }
  .password-container {
    width: 80%;
  }
  .open-eye,
  .close-eye {
    width: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .links-container {
    height: auto !important;
  }
}
